.homescreennew {
  position: absolute;
  height: 70vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homescreennew__inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homescreennew__inside > a {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ffffff;
  font-size: 25px;
  padding: 2rem;
  text-decoration: none;
  margin-top: 5rem;
  z-index: 13;
}
.before__footer {
  width: 100%;
  margin-top: 5rem;
  padding: 1.5rem 1.5rem;
  height: 500px;
  background: url("../assets/sea.jpg");
  background-position: center;
  color: black;
  font-size: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.before__footer > p {
  color: #ffffff;
}

.home__footer {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .homescreennew__inside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
