.homescreennew {
  position: absolute;
  height: 70vh;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 55px;
  transform: translate(-50%, -50%);
}
.sneakerS {
  width: 1400px;
  width: 100%;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  column-gap: 155px;
  justify-content: center;
  align-items: center;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

.sneaker__home {
  width: 600px;
  animation: float 5s ease-in-out infinite;
}
.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  gap: 0px;
  padding: 0rem;
}

.infos > p {
  font-size: 90px;
  text-transform: lowercase;
  font-weight: 600;
  z-index: 12;
}
.homescreennew > a {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;

  z-index: 13;
}
.before__footer {
  width: 100vw;
  height: 500px;
  background: url("../assets/seaConverse.jpg");
  background-position: center;
  color: #fca311;
  font-size: 65px;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
}
.before__footer > p {
  color: #ffffff;
}

.home__footer {
  height: 100px;
}
